<h1>hacds</h1>

<table>
    <thead>
        <tr>
            <th scope="col">#</th>
             <th scope="col">Ten</th>
              <th scope="col">des</th>
               <th scope="col">img</th>
        </tr>
    </thead>
</table>
<tbody>
    {{#each Collection}}
    <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
                <td>{{this.description}}</td>

        <td>{{this.img}}</td>
        <td>
            <a href="/collection/{{this._id}}/edit">/sửa</a>
            <a href="">xóa</a>

        </td>
    </tr>
    </br>
    {{/each}}
</tbody>